#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}
.navbar {
  background-color: #573497;
}
.navbar-toggler {
  color: white;
}
.dropdown-menu .dropdown-item {
  color: #573497;
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #bba5e4;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.icon {
  color: white;
  margin-right: 7px;
  cursor: pointer;
}
.icon:hover {
  color: #d6c4f8;
}
.navbar-brand {
  color: white;
  font-size: 25px;
}
.navbar-brand:hover {
  color: #d6c4f8;
}
.nav-item a {
  color: white;
  font-size: 17px;
}
.btn {
  color: white;
}
.btn:active {
  color: white;
  border: 1px white solid;
}
#footer {
  background-color: #d6c4f8;
  border-top: 4px solid #573497;
  border-bottom: 4px solid #573497;
  padding-bottom: 15px;
}
#footer h2 {
  color: #573497;
  margin-left: 100px;
}
.member .socials {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.member h5 {
  font-size: 25px;
}
.devider {
  width: 1000px;
  margin-left: 90px;
  background-color: #573497;
  height: 2px;
  margin-bottom: 40px;
}
.member .socials a {
  color: #573497;
  font-size: 20px;
  font-weight: 700;
}
